# OS and archives
*.gz
*.bz2
*.tar
*.tgz
*.zip
.DS_Store
desktop.ini

.idea
.nbproject

# Node specific ignores
bower_components
node_modules
package-lock.json

# Project-specific ignore
config/*.yml
config/*.yaml
lib/**/*.js
lib/**/*.d.ts
*.map
build/
